{% extends "DA/base.html" %}
{% load bootstrap3 %} 

{% block header %}
    <div style="display:flex;justify-content:space-between">
        <h1 style="display:inline-block;">View Data</h1>
        <h1 class="text-right" style="display:inline-block "><a href= "{% url 'DA:entries' %}">Back</a></h1>
    </div>
{% endblock header %}

{% block content %} 
    <form action="{% url 'DA:entry_data' e_id %}" method='post' class="form">
        {% csrf_token %} 
        {% bootstrap_form form %}

        {% buttons %} 
            <button name="submit" class="btn btn-primary">View Data</button>
        {% endbuttons %}      
    </form>
    {% for d,m,y,s,e,t,da in days %} 
        <div class="panel panel-default"> 
            <div class="panel-heading">
                <h3>
                    <strong>{{ m }}</strong> - <strong>{{ d }}</strong> - <strong>{{ y }}</strong>
                    <strong>|</strong>
                    <strong>{{ s }}</strong> - <strong>{{ e }}</strong>
                </h3>
            </div>
            <div class="panel-body">
                <strong>Thoughts:</strong>{{ t|linebreaks }}
            </div>
            <div class="panel-body">
                <small><strong>Actual date added: </strong>{{ da|date:'M d, Y H:i' }}</small>
            </div>
        </div><!-- panel -->
    {% empty %}
        No entries match your request.
    {% endfor %}
    
{% endblock content %}