{% extends "DA/base.html" %}
{% load bootstrap3 %} 

{% block header %}
<div style="display:flex;justify-content:space-between">
    <h1 style="display:inline-block;">View Graphs</h1>
    <h1 class="text-right" style="display:inline-block "><a href= "{% url 'DA:entries' %}">Back</a></h1>
</div>
{% endblock header %}

{% block content %}
    <h1 style="text-align:center;">Amount of Entries per year</h1>
    <div style="width:1000;height:100">
        {{ graph|safe }}
    </div>
    {% if graph2 %}
        <h1 style="text-align: center;">Amount of entries per month</h1>
        <div style="width:1000;height:100">
            {{ graph2|safe }}
        </div>
        <div style="width:1000;height:100">
            {{ graph3|safe }}
        </div>
    {% endif %}
{% endblock content %}