{% extends "DA/base.html" %}
{% load bootstrap3 %} 

{% block header %}
    <h2>View Graphs</h2>
{% endblock header %}

{% block content %}
    <h1 style="text-align:center;">Amount of Entries per year</h1>
    <div style="width:1000;height:100">
        {{ graph|safe }}
    </div>
    {% if graph2 %}
        <h1 style="text-align: center;">Amount of entries per month</h1>
        <div style="width:1000;height:100">
            {{ graph2|safe }}
        </div>
        <div style="width:1000;height:100">
            {{ graph3|safe }}
        </div>
    {% endif %}
{% endblock content %}