{% extends "DA/base.html" %}
{% load bootstrap3 %} 

{% block header %}
<div style="display:flex;justify-content:space-between">
    <h1 style="display:inline-block;">View Graphs</h1>
    <h1 class="text-right" style="display:inline-block "><a href= "{% url 'DA:entries' %}">Back</a></h1>
</div>
{% endblock header %}

{% block content %}
    <h1 style="text-align:center;">Amount of Entries per year</h1>
    <div style="width:1000;height:100">
        {{ graph|safe }}
    </div>
        <h1 style="text-align: center;">Amount of entries per month</h1>
        <form action="{% url 'DA:graph' eid %}" method='post' class="form">
            {% csrf_token %} 
            {% bootstrap_form form %}
    
            {% buttons %} 
                <button name="submit" class="btn btn-primary">Enter Year</button>
            {% endbuttons %}      
        </form>
    {% if graph2 %}
        <div style="width:1000;height:100">
            {{ graph2|safe }}
        </div>
        <div style="width:1000;height:100">
            {{ graph3|safe }}
        </div>
    {% else %} 
        <p style="text-align: center;">There is no data for this year.</p>
    {% endif %}
{% endblock content %}